body {
    height: 2491px;
    background: #000000;
    color: #FFFFFF;
}

.banner {
    height: 605px;
    background: url('../images/banner.png') no-repeat center;
    border: 1px solid #33A8DB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 510px;
    height: 393px;
}

.banner-content .logo {
    width: 268px;
    height: 240px;
    margin: auto;
}

.banner-content h1 {
    font-size: 2.3rem;
    max-width: 434px;
    height: 47px;
    line-height: 1.2;
    letter-spacing: 0;
    margin-bottom: 10px;
    font-weight: 900;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #33A8DB 0%, #1472B7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.banner-content p {
    font-size: 1.25rem;
    max-width: 510px;
    height: 46px;
    font-weight: 400;
    margin-bottom: 40px;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 0;
}

.banner-content button {
    padding: 14px 36px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #3BA1CD;
    background:
        linear-gradient(#050b10, #050b10) padding-box,
        linear-gradient(90deg, #3BA1CD, #1572B7) border-box;

    border: 1.5px solid transparent;
    border-radius: 2px;

    cursor: pointer;
    box-shadow:
        0 0 12px rgba(0, 200, 255, 0.25);

    transition:
        box-shadow 0.3s ease,
        transform 0.2s ease,
        color 0.2s ease;
}

.banner-content button:hover {
    color: #ffffff;
    box-shadow:
        0 0 20px rgba(0, 200, 255, 0.6);
    transform: translateY(-2px);
}